*{
    box-sizing: border-box;
    margin: 0;
}
h1, p, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
img{
    width: 100%;
    
}
#layer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 95%;
    width: 70%;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logotop{
    position: absolute;
    top: 13%;
    left: 45%;
    transform: translate(-13%, -45%);
    height: 500px;
    width: 1100px;
}
.titletop{
    position: absolute;
    top: 22%;
    left: 45%;
    transform: translate(-22%, -45%);
    font-size: 96px;
    color: #00DD00;
    margin-top: 3%;
   
}
.navbar{
    position: absolute;
    background-color: #00DD00;
    height: 6%;
    width: 60%;
    top: 37%;
    left: 42%;
    transform: translate(-37%, -42%);
}
button{
    font-size: 50px;
    text-align: center;
    padding: 10px 20px;
    margin-left: 1%;
}
.action{
    margin-left: 35%;
    margin-top: 1%;
}

.monopattino h2{
    position: absolute;
    left: 42;
    font-size: 64px;
    display: inline-block;
    margin-left: 20px;
}
.quadrato{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 14px;
}

.content{
     position: absolute;
     height: 15%;
     width: 60%;
     top: 43%;
     left: 20%;
}

div > p{
    font-size: 48px;
    margin-top: 30px;
}
.battery{
    position: absolute;
    height:20%;
    width: 30%;
    background-color: #F5B453;
    border-radius: 20px;
    margin-top: 15px;
}

span:before{
    content: ' \21A6';
    color: white;
}

#battery2{
    background-color: #1EC31E ;
}
.content2{
    position: absolute;
    height: 15%;
    width: 80%;
    top: 59%;
    left: 20%;
}
#battery3{
    background-color: #BE4141 ;
}
.content3{
    position: absolute;
    height: 15%;
    width: 30%;
    top: 75%;
    left: 20%;
}




